#heading{
	text-align: center;
	height:400px;
	width:100%;
	padding-top:50px;
	/*margin-left: 130px;*/
	background-color:#f0f482;
	color: white;
	border-bottom: solid 6px white;
}

#heading p{
	padding-bottom: 30px;
}

#tsubuyaki-container{
	text-align: center;
	height:400px;
	padding-top: 50px;
	background-color:#c9c8c8;
	/*background-color:#C96576;*/
	/*margin-left: 130px;*/
	width:100%;

	

}

#tsubuyaki-container h1{
	color:white;
}

#tsubuyaki-container p{
	padding-bottom: 30px;
	color:white;

}

#tsubuyaki{
	height:100px;
	width:200px;
	/*background-color: transparent;*/

}

footer{
	text-align:right;
}


.logo{
	margin-left:20px;
	width: 100px;
	height:80px;
}


.header-img{

	position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  /*bottom: 0px;*/
  margin: auto;

	width:150px;
	height:80px;
	/*margin-left: 450px;*/

}

.individual{
	width:150px;
	height:40px;
	margin-bottom: 10px;
	margin-right:10px;
	border-bottom: solid 4px #82c250;
	
    
}


.individual:hover{
cursor: pointer;

} 


.individual:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}


.search{
	width:200px;
	height: 40px;
	margin-top:40px;
	border-bottom: solid 4px #5f9d2e;
}

.search:hover{
cursor: pointer;

} 

.search:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}